body, html {
    width: 400px;
    background: #fffaf0;
}
body {
  /*padding: 20px;*/
}

.panel-body {
    padding-top: 10px;
    padding-bottom: 5px;
}

.panel-footer, .pager{
	padding-top: 5px;
    padding-bottom: 5px;
}

.panel-primary{

}

#main_div{
	margin-top: 10px;
}

.panel{
	margin-top: 20px;
}

#add_comment{
	cursor: pointer;
	margin-left: 8px;
}

#show_more{
	cursor: pointer;
}

.list-group .list-group-item .row-content .reply {
  position: absolute;
  right: 16px;
  bottom: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 10px;
  cursor: pointer;
}

.list-group .list-group-item .row-content .reply_to {
  position: absolute;
  left: 88px;
  bottom: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  cursor: pointer;
}